  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --primart: rgb(41, 98, 255);
  }
.biru{
  color: var(--primart);
}
  html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
  }

  body {
    background-color: #e7e7e7;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  #wrapper {
    background-color: #fff;
    width: 90vw;
    margin: auto;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 1);
    overflow: hidden;
  }

  #wrapper>header {
    background-image: linear-gradient(90deg, black, var(--primart));
    height: 50vh;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    place-items: center;
  }

  .logo-container>svg {
    margin-right: 1rem;
  }

  .logo-container {
    background-color: #fff;
    border-radius: 14px;
    padding: 0.5rem;
    display: flex;
  }

  nav {
    height: max-content;
  }

  nav>h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
  }

  nav>ul {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
    height: 5rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  nav>ul>li>a {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 14px;
    transition: all 0.3s ease;
    color: white;
    text-wrap: nowrap;
  }

  nav>ul>li>a:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  main>section>article {
    margin: auto;
    width: 90%;
  }

  main {
    margin: 1rem 0;
  }

  footer {
    padding: 2rem;
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .social-link-container {
    height: 2rem;
    display: flex;
    gap: 1rem;
  }

  footer img {
    height: 100% !important;
  }

  footer iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 14px;
  }

  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-link-container img:hover {
    border-radius: 50%;
    background-color: #fff;
  }

  main>section>article>header>h1 {
    color: var(--primart);
    font-size: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 1);
    padding: 0.5rem;
  }

  .border{
    box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 1);
  }

  main>section>article>header>h1::before {
    content: "";
    border-radius: 14px;
    position: absolute;
    height: 100%;
    width: 0.3rem;
    left: 0;
    top: 0;
    background-color: var(--primart);
  }

  @media screen and (max-width:700px) {

    #wrapper{
    width: 100%;
    }

    #wrapper>header {
      width: 100%;
      grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
      place-items: center;
    }

    footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }

    .sosial {
      height: max-content;
    }

    .sosial>h4 {
      display: block;
      text-align: center;
    }

    .social-link-container {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
    }

    .copy {
      height: max-content;
      padding: 1rem;
    }

    .frmane {
      height: max-content;
    }
  }